@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import 'helpers/colors';
@import 'helpers/functions';

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none;

    &-mob {
        @media screen and (max-width: 920px) {
            display: none;
        }
    }

    &-desk {
        @media screen and (min-width: 921px) {
            display: none;
        }
    }
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

@import 'components/index';
@import 'layouts/index';